/*
    basecolor: #ff8c19
*/

html {
    background: url(/images/cat-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#brand{
    color: #ff8c19;
    font-family: 'Oswald:700', 'Arial', 'sans-serif';
    font-size: 30px;
}

#brand span{
    color: #9d9d9d;
}

#content {
    /*margin-top: 71px;*/
    position: fixed;
    top: 71px;
    left: 2.5%;
    width: 95%;
    height: 90%;
    margin: 0;
}

.container {
    background: rgba(255, 197, 140, 0.2);
    margin-bottom: 2em;
    min-height: 93.5%;
    overflow: auto;
    padding: 2em 3em 0 3em;
    width: 100%;
}

.footer {
    position: fixed;
    height: 2em;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .container {
    background: rgba(0, 0, 0, 0.4);
    padding-top: 4px;
}

.footer .container .text-muted {
    color: rgba(255, 140, 25, 0.51);
    text-align: right;
}

.alert {
    width: 300px;
    margin-right: 0;
    margin-left: auto;
}

.fade-tag {
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

.view-heading {
    margin-bottom: 2em;
    padding-left: 3px;
}


@media (min-width: 768px) {
    #content {
        top: 71px;
        left: 10%;
        width: 80%;
        height: 90%;
        margin: 0;
    }
}