/*
    basecolor: #ff8c19
*/

html {
    background: url(/images/cat-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    margin-top: 71px;
}

.container {
    background: rgba(255, 197, 140, 0.2);
    margin-bottom: 2em;
    min-height: 100%;
    overflow: auto;
}

.footer {
    position: fixed;
    height: 2em;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .container {
    background: rgba(255, 186, 117, 0.2);
    padding-top: 6px;
}

.alert {
    width: 300px;
    margin-right: 0;
    margin-left: auto;
}

.fade-tag{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}