<div class="row">
    <div class="col-lg-12">
        <h1 translate="ABOUT_TITLE"></h1>

        <p class="lead" translate="ABOUT_SUBTITLE"></p>

        <p>
            Suspendisse mauris sapien, volutpat ac dolor a, vulputate imperdiet leo. Nullam consequat, nunc tempor
            laoreet
            rhoncus, enim eros sodales sapien, vel porta ex velit id quam. Vestibulum ante ipsum primis in faucibus orci
            luctus
            et ultrices posuere cubilia Curae; Maecenas magna est, pharetra a neque eu, pellentesque lobortis felis.
            Duis
            tincidunt magna sit amet orci aliquet, eu placerat est dapibus. Vestibulum nisi ex, ornare et erat sed,
            tincidunt
            faucibus velit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
    </div>
</div>